/* $Id: $ */
@import url("blocks.css");
/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  font: 75% Verdana, Arial, Helvetica, sans-serif;
}
tr, td, th {
border:none;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #996600;
}
a:visited {
  color: #663300;
}
a:hover {
  color: #000066;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eeeeee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
  border:hidden;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#header {
  background: url('images/bg.gif') repeat-x;
  margin:0;
}

#logo {
  vertical-align: bottom;
  border: 0;
  padding:0px;
  }
#logo img {
  float: left;
  padding: 0em 2px 0em 2px;
  border: 0;
  
 }
#menu {
  margin:0 0 0 0 ;
  padding: 5px 0.5em 0em 0.5em;
  text-align: right;
  vertical-align: top;
}
#secondary {
  margin:0;
  padding: 0.5em 1em 0em 0;
  font-size: 0.9em;
  color: #333333;
}
#secondary a {
  font-weight: bold;
  color: #333333;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
}
#search .form-text {
  width: 8em;
  height: 1.4em;
  padding: 0 ;
  margin: 0;
}
#search .form-submit {
  height: 1.5em;
  padding:0;
  margin:0 0.2em 0;
}
#mission {
  background-color: #E5D4F7;
  padding: 1.5em 2em;
  color: #7E3517;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
#fname{
  text-align:left;
  
}
.site-name {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
.site-name a:link, .site-name a:visited {
  color: #000000;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #372612;
  display: block;
  padding:0;
  margin: 0em 0em 1.3em 0em;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
  padding-left:3px;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #fff;
  width: 15em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 5px;
  vertical-align: top;
}
#footer {
  background-color: #eee;
  padding: 1em;
  font-size: 0.8em;
  width:100%;
  }
#copyright{
  text-align:center;
  font-weight: normal;
}
#footer-msg{
  text-align:center;
  font-weight: normal;
  padding-bottom:5px;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.4em;
  color: #777;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}
.node-title, .node-title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #FF4500;
  margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
  text-decoration: none;
}
.node-title a:hover {
  color: #F88017;
}
.node-title a:visited {
  color: #F88017;
}
.submitted {
  color: #999;
  font-size: 0.8em;
  padding:0 0 0 2px;
  margin:0;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.box {
  padding: 0 0 1.5em 0;
}
.block {
  padding: 0;
}
.block {
  border-bottom:0px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 0.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #CC9933;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}


/* These are standard sIFR styles... do not modify */

.sIFR-flash {
	visibility: visible !important;
	margin: 0;
}

.sIFR-replaced {
	visibility: visible !important;
}

span.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

/* These "decoy" styles are used to hide the browser text before it is replaced... the negative-letter spacing in this case is used to make the browser text metrics match up with the sIFR text metrics since the sIFR text in this example is so much narrower... your own settings may vary... any weird sizing issues you may run into are usually fixed by tweaking these decoy styles */

.sIFR-hasFlash h2.sifr-node-title, .sIFR-hasFlash h2.sifr-node-title a {
	visibility: hidden;
	letter-spacing: -9px;
	font-size:12pt;
	padding:0;
	line-height: 2em;
	margin: 0 auto 0 auto;/* decrease default margins for h<x>.title */
}
.sIFR-hasFlash h1.site-name, .sIFR-hasFlash h1.site-name a {
	visibility: hidden;
	letter-spacing: -9px;
	font-size:18pt;
	margin-right:2em;
}

/*---------------------------- Primary Links -------------------------------*/
#prime-top{
  position:relative;
  padding:0;
  margin:0;
  line-height:normal;
  text-align:right;
}
#primary-tabs {
  font-size:93%;
  line-height:normal;
  float: right;
  margin:0;
  position:relative;
}
#primary-tabs ul {
  margin:0;
  padding:2px 2px 0 0;
  list-style:none;
}
#primary-tabs li {
  float:left;
  background:url("images/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs a {
  float:left;
  display:block;
  background:url("images/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  margin-right:2px;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#primary-tabs a {float:none;}
/* End IE5-Mac hack */
#primary-tabs a:hover {
  color:#333;
}
#primary-tabs .current {
  background-image:url("images/left_on.gif");
}
#primary-tabs .current a {
  background-image:url("images/right_on.gif");
  color:#333;
  padding-bottom:3px;
}
/*---------------------------- Primary Links Tabs Colors -------------------------------*/
#primary-tabs li#primary-link-1 {
  float:left;
  background:url("images/left1.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-1 {
  background-image:url("images/left_on.gif");
}
#primary-link-1 a {
  float:left;
  display:block;
  background:url("images/right1.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-2 {
  float:left;
  background:url("images/left2.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-2 {
  background-image:url("images/left_on.gif");
}
#primary-link-2 a {
  float:left;
  display:block;
  background:url("images/right2.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-3 {
  float:left;
  background:url("images/left3.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-3 {
  background-image:url("images/left_on.gif");
}
#primary-link-3 a {
  float:left;
  display:block;
  background:url("images/right3.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-4 {
  float:left;
  background:url("images/left4.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-4 {
  background-image:url("images/left_on.gif");
}
#primary-link-4 a {
  float:left;
  display:block;
  background:url("images/right4.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-5 {
  float:left;
  background:url("images/left5.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-5 {
  background-image:url("images/left_on.gif");
}
#primary-link-5 a {
  float:left;
  display:block;
  background:url("images/right5.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-6 {
  float:left;
  background:url("images/left6.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-6 {
  background-image:url("images/left_on.gif");
}
#primary-link-6 a {
  float:left;
  display:block;
  background:url("images/right6.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-7 {
  float:left;
  background:url("images/left7.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-7 {
  background-image:url("images/left_on.gif");
}
#primary-link-7 a {
  float:left;
  display:block;
  background:url("images/right7.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-8 {
  float:left;
  background:url("images/left8.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-8 {
  background-image:url("images/left_on.gif");
}
#primary-link-8 a {
  float:left;
  display:block;
  background:url("images/right8.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-9 {
  float:left;
  background:url("images/left9.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#primary-tabs .current#primary-link-9 {
  background-image:url("images/left_on.gif");
}
#primary-link-9 a {
  float:left;
  display:block;
  background:url("images/right9.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}
  
#primary-tabs li#primary-link-10 {
  float:left;
  background:url("images/left10.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
  #primary-tabs .current#primary-link-10 {
  background-image:url("images/left_on.gif");
}
#primary-link-10 a {
  float:left;
  display:block;
  background:url("images/right10.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  margin-right:2px;
}

/*---------------------------- Block Styles -------------------------------*/
.bleft {
  background: #fff;
  width: 5px;
  font-size: 0.75em;
  font-weight: bold;
}
.bright {
  background: #fff;
  width: 10px;
  text-align: right;
  font-size: 0.75em;
  font-weight: bold;
}
.blocktitle {
  color: #ffffff;
  background: #ce5003;
  font-size: 1em;
  font-weight: bold;
  padding:2px;
}
.blockcontent {
  background: #ffffff;
  padding: 5px;
  margin-bottom: 1em;
  border:1px solid;
  border-color:#ce5003;
  font-size: 1em;
}

.bleft-img {
  background: #ce5003 url(images/cl.png) no-repeat top left;
  width: 7px;
  font-size: 0.75em;
  font-weight: bold;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.bright-img {
  background: #ce5003 url(images/cr.png) no-repeat top right;
  width: 7px;
  text-align: right;
  font-size: 0.75em;
  font-weight: bold;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.menu {
padding-left:1em;
margin-left:0em;

}